DATABRICKS_HOST=https://adb-xxxxxxxxx.x.azuredatabricks.net
DATABRICKS_TOKEN=dapi********************************

# API configuration  
API_URL=http://xxx.xxx.xxx.xxx:8080/
API_USER=xxxxxx
API_PASSWORD=********

# Database configuration
DB_URL=jdbc:sqlserver://xxx.xxx.xxx.xxx:4563;databaseName=xxxx;encrypt=false;trustServerCertificate=true
DB_USER=xxxxxx
DB_PASSWORD=********

# Output configuration
OUTPUT_PATH=/Workspace/Users/your.email@domain.com/WORKSPACE_NAME