AIRFLOW_VAR_DBT_PROFILE_NAME=databricks
AIRFLOW_VAR_DBT_TARGET_NAME=dev
AIRFLOW_VAR_DATABRICKS_CONNECTION_ID=databricks_default
AIRFLOW_VAR_DATABRICKS_CATALOG=xxxxxxxxx
AIRFLOW_VAR_DATABRICKS_SCHEMA=xxxxxxx
AIRFLOW_VAR_DATABRICKS_HOST=xxxxxxxxxxxxxx.cloud.databricks.com
AIRFLOW_VAR_DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/xxxxxxxxxxxxxxxxxxxxx
AIRFLOW_VAR_DATABRICKS_TOKEN=dapixxxxxxxxxxxxxxxxxxxxxxx